<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head> 
        <title>Avatar application</title>
        <style type="text/css">
            body {
               text-align: center;
            }
            .container {
                width:740px;
                margin: 0 auto;
                padding: 0;
                text-align:left;
            }
            .left_column {
                float: left;
                width: 490px;
            }
            .right_column {
                float: left:
                width: 250px;
            }
        </style>
        {% block extra_head %}
        {% endblock %}
    </head>
    <body>
    <div class="container">
        <div class="nav">
             <ul>
                <li><a href="{% url avatar_add %}">Add</a></li>
                <li><a href="{% url avatar_change %}">Change</a></li>
                <li><a href="{% url avatar_delete %}">Delete</a></li>
             </ul>
        </div>
        {% block body %}
        {% endblock %}
        <script type="text/javascript" src="{{ STATIC_URL }}avatar_crop/js/jquery-1.4.2.min.js"></script>
        {% block extra_body %}
        {% endblock %}
    </div>
    </body>
</html>
