<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head> 
        <title>Avatar application</title>
        <style type="text/css">
            body {
               text-align: center;
            }
            .container {
                width:740px;
                margin: 0 auto;
                padding: 0;
                text-align:left;
            }
            .left_column {
                float: left;
                width: 490px;
            }
            .right_column {
                float: left:
                width: 250px;
            }
        </style>
        {% block extrahead %}
        {% endblock %}
    </head>
    <body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    </body>
</html>
